body{
    background-color: blanchedalmond;
    font-family: initial;
    margin-left: 0%;
}
h1{
    text-align: center;
    text-decoration: underline;
}
#two{
    color: rgb(190, 42, 42);
    font-family: 'Times New Roman';
}
#cat{
    background-color: rgb(221, 246, 246);
    text-align: center;
    padding: 0%;
    border: 5px solid lightblue;
    border-radius: 5px;
    border-width: 15px;  
}
.fifi{
    text-decoration: underline;
    font-style: italic;
}
#pixel{
    background-image:url(../coverpage.png); height: 0px; width: 400px;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 15%;
    margin-top: 2%;
}
#nav{
    background-color: azure;
    padding: 0px
}
#nav ul{
  list-style-type: lower-roman;
}
#nav ul li{
    display: inline;
    margin: 20px;
}
#nav ul li{
    font-weight: bold;
    text-decoration: aqua;
    color: rgb(29, 230, 163);
    padding: 25px 25px;
}
#nav ul li a:hover{
    background-color: aliceblue;
}
#fifi{
    background-color:none;
    padding: 20px;
}
